<div class="landing">
    <div class="landing-wrap">
        <div class="landing-headline landing-content-page">
            <h2>About</h2>
            <p class="landing-tag">Learn more about what this site does, how it’s built, why I built it and who I am.</p>
        </div>
    </div>
</div>

<div class="page-wrap">
    <div class="content">
        <h3>What is this web app?</h3>
        <p>Twitch trends is a live visual data representation of viewers and followers for the top Twitch streamers that are currently live.</p>
        
        
        <h3>What is Twitch?</h3>
        <p>Twitch is the world’s leading social video platform and community for gamers, video game culture, and the creative arts.</p>
        <p>I recommend reading more on their <a href="https://www.twitch.tv/p/about" target="_blank">about page</a>.</p>
        
        
        <h3>Who are you?</h3>
        <p>I am a front-end developer based in Cambridgeshire, UK. I’m an avid gamer and a regular Twitch user.</p>
        
        
        <h3>Why did you build this?</h3>
        <p>I’m currently learning Angular and wanted to put the <a href="https://dev.twitch.tv/" target="_blank">Twitch API</a> to good use. I thought it would be very interesting to see viewer and follower information, displayed over time, in a graphical format. <a href="https://bitbucket.org/harveybanham/twitch-trend" target="_blank">Check out the code for this project</a>.</p>
        
        
        <h3>Interesting findings</h3>
        <p>I have seen some streamers viewer count drastically rise by 5,000 within the space of minutes. This could come from any means of marketing such as a tweet to tell their fans they are live. It could also potentially be some kind of viewer bot that gets the streamer to the top of the page so they can get real viewers.</p>
        <p>See below, this streamer went from 2,730 to 7,962 viewers within a 5 minute interval.</p>
        <img src="/assets/images/interesting-graph.jpg" alt="An interesting looking graph where viewers increased by thousands withing minutes.">
        
        
        <h3>What technologies did you use?</h3>
        <ul>
            <li>HTML5</li>
            <li>SASS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Node</li>
            <li>Gulp</li>
            <li>Express</li>
            <li>Heroku</li>
        </ul>
        
        
        <h3>How does it all work?</h3>
        <p>Heroku is hosting an Express server running on Node.js. The server sends a GET request to the <a href="https://dev.twitch.tv/docs" target="_blank">Twitch servers</a> which returns a JSON object. My server filters through the JSON, picking only the fields I need for my app and then saving the result into a file.</p>
        <p>The server sends a request periodically to keep the file updated with the latest data. It will also merge the old data so we can plot the viewer and follower count over time. I wanted the server to make the requests independently from the client so the data is consistent, the server does not overload with requests and for general scalability. It also means the data is cached making it easy to retrieve by a client.</p>
        <p>On the client side, we are using Angular to easily manage the data by repeating it in HTML. We request for the data from our server periodically which updates the scope. I’m using <a href="http://jtblin.github.io/angular-chart.js/" target="_blank">angular-chart.js</a> to manage displaying and updating the charts. It has an Angular directive that uses <a href="http://www.chartjs.org/" target="_blank">Chart.js</a> to create a chart in a canvas element.</p>
        <p>For styling, I am using SASS with <a href="http://susy.oddbird.net/" target="_blank">Susy</a> for creating a custom grid and a couple of <a href="https://fonts.google.com/" target="_blank">Google fonts</a> to make the page look good.</p>
        
        <h3>Further development</h3>
        <ul>
            <li>Cache the stream list, so when you switch routes/pages it won’t have to reload stream information all again.</li>
            <li>Add a loading animation for the stream list.</li>
            <li>Create a favicon.</li>
            <li>Find a fix or a fallback font for the Chinese characters that are not displaying correctly with the Google Font.</li>
        </ul>
    </div>
</div>