<div class="landing">
    <div class="landing-wrap">
        <div class="landing-headline">
            <h2>Who is trending on Twitch?</h2>
            <p class="landing-tag">View live updates on viewers and followers for the most popular Twitch streamers.</p>
        </div>
    </div>
</div>

<div class="page-wrap">
    <div class="stream-sort-filter">
        <div class="stream-sort">
            <p>Sort:</p>
            <button ng-click="sortStreams('currentViewers', true)" ng-class="{ 'selected': streamOrderProp == 'currentViewers' }">Most Viewers</button>
            <button ng-click="sortStreams('currentFollowers', true)" ng-class="{ 'selected': streamOrderProp == 'currentFollowers' }">Most Followers</button>
            <button ng-click="sortStreams('name', false)"  ng-class="{ 'selected': streamOrderProp == 'name' }">Alphabetically</button>
        </div>
        
        <div class="stream-filter">
            <p>Filter:</p>
            <input type="text" name="name-search" value="" placeholder="Search by name" ng-model="streamFilter.name" ng-model-options="{ debounce: 300 }">
            <select name="game-list" ng-model="streamFilter.game">
                <option value="">All games</option>
                <option value="{{game}}" ng-repeat="game in games">{{game}}</option>
            </select>
        </div>
    </div>
    
    <div class="stream-list">
        <div class="stream" ng-repeat="stream in twStreams | filter:streamFilter | orderBy:streamOrderProp:streamSortOrder">
            <a href="{{stream.url}}" target="_blank"><h3>{{stream.name}}</h3></a>
            <img src="{{stream.preview}}" alt="Twitch image preview of {{stream.name}}">
            <p class="stream-game">{{stream.game}}</p>
            <p class="stream-viewers">{{stream.currentViewers | number}} viewers</p>
            <p class="stream-followers">{{stream.currentFollowers | number}} followers</p>
            <div><canvas class="chart chart-line" chart-data="stream.viewers" chart-labels="stream.labels" chart-series="chartVSeries" chart-colors="chartVColors" chart-options="chartOptions"></canvas></div>
            <div><canvas class="chart chart-line" chart-data="stream.followers" chart-labels="stream.labels" chart-series="chartFSeries" chart-colors="chartFColors" chart-options="chartOptions"></canvas></div>
        </div>
    </div>
</div>