<div class="landing">
    <div class="landing-wrap">
        <div class="landing-headline landing-content-page">
            <h2>Contact</h2>
            <p class="landing-tag">If you have any thoughts, improvements, or you just want to say hi, get in touch!</p>
        </div>
    </div>
</div>

<div class="page-wrap">
    <div class="content">
        <h3>Hello There</h3>
        <p>My name is Harvey &ndash; I’m the developer that built this web app. I’ve been creating websites for the past three years but have no commercial experience creating web apps, so I decided to challenge myself as a developer and delve into the world of applications.</p>
        <p><a href="https://bitbucket.org/harveybanham/twitch-trend" target="_blank">Check out the code for this site here</a>.</p>
        <p>You can get a hold of me through <a href="mailto:harveybanham@gmail.com">email</a> or <a href="https://twitter.com/HarveyBanham" target="_blank">twitter</a>.</p>
    </div>
</div>