html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    //Show scrollbar before images load so not jerky
    overflow-y: scroll;
    background-color: $white;
    color: $offBlack;
}

body {
    margin: 0;
    font-family: $fontOpen;
}

h1 {
    font-family: $fontBlackOps;
    font-size: 4.5em;
    font-weight: 300;
}
h2 {
    font-weight: 300;
    font-size: 3em;
    margin-bottom: $xsSpace;
}
h3 {
    font-family: $fontBlackOps;
    font-weight: 300;
    font-size: 2.2em;
    margin-top: 2em;
    margin-bottom: 0;
}

p {
    font-size: 1.3em;
    margin: 0 0 1.3em 0;
}

strong {
    font-weight: 600;
}

a {
    color: $purple;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
    
    &:hover {
        color: $lightPurple;
    }
}

button {
    cursor: pointer;
    padding: 5px;
}

ul {
    font-size: 1.3em;
    list-style-type: circle;
    padding-left: 1.3em;
    margin: 0 0 1em 0;
}