#page-header {
    background-color: $offBlack;
    text-align: center;
    padding: 30px 0;
    
    h1 {
        color: $white;
        text-transform: uppercase;
        margin: 0 0 $mdSpace 0;
    }
}