.landing {
    background-color: $purple;
    
    .landing-wrap {
        position: relative;
        max-width: 1500px;
        margin: 0 auto;
        height: 450px;
        
        @include respond-to(sm) {
            height: 320px;
        }
        @include respond-to(lg) {
            height: 450px;
        }
    }
    
    .landing-headline {
        position: absolute;
        top: 50%;
        left: 41%;
        transform: translate(-50%, -50%);
        
        @include respond-to(lg) {
            left: 45%;
        }
    }
    
    h2 {
        color: $white;
        font-family: $fontBlackOps;
        font-size: 3em;
        margin: 0 0 $mdSpace 0;
        
        @include respond-to(lg) {
            font-size: 4.5em;
        }
    }
    
    .landing-tag {
        color: $white;
        font-family: $fontOpen;
        font-size: 1.4em;
        
        @include respond-to(lg) {
            font-size: 1.8em;
        }
    }
}

//Line up landing text with content text
.content-page .landing {
    .landing-headline {
        max-width: $contentMaxWidth;
        position: relative;
        top: 60px;
        left: 0;
        transform: translate(0, 0);
        margin: 0 auto;
        
        padding: 0 50px;
        
        @include respond-to(lg) {
            top: 120px;
        }
    }
    
    .landing-wrap {
        height: 300px;
        
        @include respond-to(lg) {
            height: 450px;
        }
    }
}