$navItemHeight: 35px;
$navItemWidth: 180px;
$navItemMargin: 20px;

#primary-navigation {
    ul {
        font-family: $fontBlackOps;
        font-size: 2.3em;
        text-transform: uppercase;
        
        @include clearfix();
        list-style: none;
        width: $navItemWidth;
        margin: 0 auto;
        padding: 0;
        
        position: relative;
    }
    
    li {
        display: block;
        float: none;
        height: $navItemHeight;
        margin-bottom: $navItemMargin;
    }
    
    .navigation-line {
        position: absolute;
        width: $navItemWidth;
        top: 0;
        left: 50%;
        height: 5px;
        pointer-events: none;
        background: $purple;
        transition: transform 0.3s;
        transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    }
    
    li:nth-child(1).active ~ .navigation-line {
        transform: translate3d(-50%, $navItemHeight + 5px, 0);
    }

    li:nth-child(2).active ~ .navigation-line {
        transform: translate3d(-50%, (($navItemHeight*2) + ($navItemMargin + 5px)), 0);
    }

    li:nth-child(3).active ~ .navigation-line {
        transform: translate3d(-50%, (($navItemHeight*3) + ($navItemMargin*2 + 5px)), 0);
    }
    
    a {
        font-weight: normal;
        color: $lightPurple;
        display: block;
        width: 100%;
        text-align: center;
        
        &:hover {
            color: $purple;
        }
    }
    
    .active a {
        color: $purple;
        transition: color 0.3s;
    }
}


@include respond-to(md) {
    #primary-navigation {
        ul {
            width: $navItemWidth*3;
            font-size: 2em;
        }
        
        li {
            float: left;
            margin-bottom: 0;
        }
        
        .navigation-line {
            top: 100%;
            left: 0;
        }
        
        li:nth-child(1).active ~ .navigation-line {
        	transform: translate3d(0, 0, 0);
        }
        
        li:nth-child(2).active ~ .navigation-line {
        	transform: translate3d(100%, 0, 0);
        }
        
        li:nth-child(3).active ~ .navigation-line {
        	transform: translate3d(200%, 0, 0);
        }
        
        a {
            width: $navItemWidth;
        }
    }
}