//GZIP deals with repeated media queries
//https://davidwalsh.name/write-media-queries-sass
//70-80 chars per line for readability, approx 10 words.
//These depend on layout design but are good to start off with.

$mob: 520px;
$small: 760px;
$med: 1024px;
$large: 1200px;
$xlarge: 1600px;

$hd-dpr: 1.3;
$hd-mr: 192dpi;


@mixin respond-to($media) {
    @if $media == hd {
        @media only screen and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-resolution: $hd-mr) { @content; }
        
    } @else if $media == xs-only {
        @media only screen and (max-width: $mob - 1) { @content; }
        
    } @else if $media == xs-only-hd {
        @media only screen and (max-width: $mob - 1) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (max-width: $mob - 1) and (min-resolution: $hd-mr) { @content; }
        
        
    } @else if $media == sm {
        @media only screen and (min-width: $mob) { @content; }
        
    } @else if $media == sm-hd {
        @media only screen and (min-width: $mob) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $mob) and (min-resolution: $hd-mr) { @content; }
        
    } @else if $media == sm-only {
        @media only screen and (min-width: $mob) and (max-width: $small - 1) { @content; }
        
    } @elseif $media == sm-only-hd {
        @media only screen and (min-width: $mob) and (max-width: $small - 1) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $mob) and (max-width: $small - 1) and (min-resolution: $hd-mr) { @content; }
        
        
    } @else if $media == md {
        @media only screen and (min-width: $small) { @content; }
        
    } @else if $media == md-hd {
        @media only screen and (min-width: $small) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $small) and (min-resolution: $hd-mr) { @content; }  
        
    } @else if $media == md-only {
        @media only screen and (min-width: $small) and (max-width: $med - 1) { @content; }
        
    } @else if $media == md-only-hd {
        @media only screen and (min-width: $small) and (max-width: $med - 1) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $small) and (max-width: $med - 1) and (min-resolution: $hd-mr) { @content; }
        
        
    } @else if $media == lg {
        @media only screen and (min-width: $med) { @content; }
        
    } @else if $media == lg-hd {
        @media only screen and (min-width: $med) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $med) and (min-resolution: $hd-mr) { @content; }
        
    } @else if $media == lg-only {
        @media only screen and (min-width: $med) and (max-width: $large - 1) { @content; }   
        
    } @else if $media == lg-only-hd {
        @media only screen and (min-width: $med) and (max-width: $large - 1) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $med) and (max-width: $large - 1) and (min-resolution: $hd-mr) { @content; }   
        
        
    } @else if $media == xl {
        @media only screen and (min-width: $large) { @content; }
        
    } @else if $media == xl-hd {
        @media only screen and (min-width: $large) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $large) and (min-resolution: $hd-mr) { @content; }
        
    } @else if $media == xl-only {
        @media only screen and (min-width: $large) and (max-width: $xlarge - 1) { @content; }   
        
    } @else if $media == xl-only-hd {
        @media only screen and (min-width: $large) and (max-width: $xlarge - 1) and (-webkit-min-device-pixel-ratio: $hd-dpr), only screen and (min-width: $large) and (max-width: $xlarge - 1) and (min-resolution: $hd-mr) { @content; }
        
    } @else if $media == max {
        @media only screen and (min-width: $xlarge) { @content; }
    }
}
