.stream-list {
    @include container();
    @include clearfix();
    
    margin: 50px;
    
    @include respond-to(sm) {
        margin: 70px;
    }
    @include respond-to(md) {
        margin: gutter() gutter() 0 gutter();
    }
}

.stream {
    margin-bottom: gutter();
    box-shadow: 3px 3px 26px 0px rgba(205,178,255,0.75);
    padding: $smSpace;
    
    @include respond-to(md) {
        @include gallery(6);
    }
    @include respond-to(lg) {
        @include gallery(4);
    }
    
    h3 {
        font-family: $fontBlackOps;
        font-size: 1.5em;
        color: $offBlack;
        text-align: center;
        word-break: break-all;
        margin: 10px 0 10px 0;
        transition: color 0.3s;
        
        &:hover {
            color: $purple;
        }
    }
    
    img {
        display: block;
        margin: 0 auto $smSpace auto;
        max-width: 100%;
    }
    
    .stream-viewers {
        color: $darkRed;
    }
    
    .stream-followers {
        color: $purple;
    }
    
    .stream-game {
        font-family: $fontBlackOps;
        font-size: 1.1em;
        margin-bottom: $smSpace;
    }
    
    p {
        font-family: $fontBlackOps;
        margin-bottom: 0;
    }
    
    canvas {
        margin-top: $mdSpace;
    }
}

.stream-sort-filter {
    @include container();
    @include clearfix();
    margin: 50px;
    
    @include respond-to(sm) {
        margin: 70px;
    }
    @include respond-to(lg) {
        width: 825px;
        margin: 70px auto;
    }
    
    .stream-sort {
        margin-bottom: $mdSpace;
        
        @include respond-to(lg) {
            margin-right: 100px;
            float: left;
        }
        
        * {
            display: block;
            width: 100%;
            max-width: 300px;
            margin-bottom: $smSpace;
        }
    }
    
    .stream-filter {
        @include respond-to(lg) {
            float: left;
        }
        
        * {
            display: block;
            width: 100%;
            margin-bottom: $smSpace;
            
            @include respond-to(md) {
                width: 500px
            }
        }
    }
    
    p {
        font-family: $fontBlackOps;
        font-size: 1.5em;
        margin: 0 0 $smSpace 0;
    }
    
    button {
        color: $purple;
        background-color: transparent;
        box-shadow: 2px 2px 10px 0px rgba(205,178,255,0.75);
        border: 4px solid $purple;
        font-family: $fontBlackOps;
        font-size: 1.5em;
        
        &:hover {
            color: $white;
            background-color: $purple;
        }
        
        &.selected {
            color: $white;
            background-color: $purple;
            border: 4px solid $offBlack;
        }
    }
    
    input {
        color: $purple;
        background-color: transparent;
        box-shadow: 2px 2px 10px 0px rgba(205,178,255,0.75);
        border: 4px solid $purple;
        font-family: $fontBlackOps;
        font-size: 1.5em;
        display: block;
        padding: 8px;
    }
    
    select {
        color: $purple;
        background-color: transparent;
        box-shadow: 2px 2px 10px 0px rgba(205,178,255,0.75);
        border: 4px solid $purple;
        font-family: $fontBlackOps;
        font-size: 1.5em;
        display: block;
        padding: 8px;
    }
}