$white: #fff;
$black: #000;
$offBlack: #333;
$lightGrey: #D7DAE5;
$darkRed: #BB342F;
$purple: #6441A4;
$lightPurple: #CDB2FF;
$lightBlue: #56A3A6;
$darkGreen: #484538;

$fontOpen: 'Open Sans', sans-serif;
$fontBlackOps: 'Black Ops One', cursive;

$susy: (
    columns: 12,  // The number of columns in your grid
    gutters: 1/2, // The size of a gutter in relation to a single column in the grid -> 1/2 is half a column in the grid
    math: fluid,
    output: float,
    gutter-position: before
);

$contentMaxWidth: 900px;

$xsSpace: 5px;
$smSpace: 10px;
$mdSpace: 20px;