<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Twitch Trends</title>
    
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-48.png" sizes="48x48"> -->
    
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/main.min.css">
    
    <base href="/">
</head>
<body>
    <div ng-include="" src="'shared/header/headerView.html'"></div>
    
    <div ng-view="" class="{{pageType}}"></div>
    <script src="/assets/scripts/dependencies.min.js"></script>
    <script src="/assets/scripts/main.min.js"></script>
</body>
</html>